CompileFlags:
  Add: 
    - "-x"
    - "hip"
    - "--offload-arch=gfx942"
    - "-I/opt/rocm-7.0.0/include"
    - "-I/opt/rocm-7.0.0/include/hip"
    - "-D__HIP_PLATFORM_AMD__"
    - "-D__HIP_ROCclr__"
  Remove:
    - "--save-temps"

# If:
#   PathMatch: .*.cuh
# CompileFlags:
#   Add:
#     - "-x"
#     - "hip"
#     - "--offload-arch=gfx942"
#     - "-I/opt/rocm-7.0.0/include"
#     - "-I/opt/rocm-7.0.0/include/hip"
#     - "-D__HIP_PLATFORM_AMD__"
#     - "-D__HIP_ROCclr__"

